<fieldset class="configuration__fieldset">
  <div class="configuration__value">
    <label class="configuration__label"> Текущее значение
      <input class="configuration__value-input js-current-value" type="number" id="currentValue" />
    </label>
  </div>
  <div class="configuration__value">
    <label class="configuration__label">Размер шага
      <input class="configuration__value-input js-step-size" min="1" type="number" id="stepSize" />
    </label>
  </div>
  <div class="configuration__value">
    <label class="configuration__label">Минимальное значение
      <input class="configuration__value-input js-min-value" type="number" id="minValue" />
    </label>
  </div>
  <div class="configuration__value">
    <label class="configuration__label">Максимальное значение
      <input class="configuration__value-input js-max-value" type="number" id="maxValue" />
    </label>
  </div>
</fieldset>
<fieldset class="configuration__fieldset">
  <div class="configuration__checkbox">
    <label class="configuration__label">Подсказка
      <input class="configuration__checkbox-input js-toggle-hint" type="checkbox" id="toggleHint" />
    </label>
  </div>
  <div class="configuration__checkbox">
  <label class="configuration__label">Шкала
    <input class="configuration__checkbox-input js-toggle-scale" type="checkbox" id="toggleScale" />
    </label>
  </div>
  <div class="configuration__checkbox">
    <label class="configuration__label">Два значения
      <input class="configuration__checkbox-input js-toggle-type" type="checkbox" id="toggleType" />
    </label>
  </div>
  <div class="configuration__checkbox">
    <label class="configuration__label">Вертикальный вид
      <input class="configuration__checkbox-input js-toggle-vertical" type="checkbox" id="toggleVertical" />
    </label>
  </div>
</fieldset>