@import './colors.scss';

.slider {
  width: 18rem;
  height: .25rem;
  position: relative;
  background-color: $lightgrey;

  &_vertical {
    height: 18rem;
    width: .25rem;
  }

  &-wrapper {
    display: inline-block;
    padding: 1rem 0;
  }

  &__point {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: $orange;
    position: absolute;
    top: -.45rem;
    cursor: pointer;

    &_vertical {
      left: -.47rem;
    }

    &_active {
      z-index: 2;
    }
  }

  &__bar {
    height: .25rem;
    position: absolute;
    background-color: $orange;

    &_vertical {
      width: .25rem;
    }
  }

  &__hint {
    min-width: 1.5rem;
    padding: .1rem;
    position: absolute;
    top: -2.5rem;
    background-color: $orange;
    border-radius: .3rem;
    color: $white;
    text-align: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &_vertical {
      left: 1.2rem;
    }

    &_disable {
      display: none;
    }
  }

  &__scale {
    position: relative;

    &_disable {
      display: none;
    }

    &_position_horizontal {
      top: .7rem;
    }

    &_position_vertical {
      left: -1.7rem;
    }
  }

  &__scale-value {
    position: absolute;
    color: $lightgrey;
    font-size: .8rem;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}