.slider-wrapper {
  display: inline-block;
  margin-bottom: 20px;
  padding: 1rem 0;
}
.slider {
  width: 18rem;
  height: .25rem;
  position: relative;
  background-color: #bfbfbf;

  &--vertical {
    height: 18rem;
    width: .25rem;
  }
}
.slider__point {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #e85019;
  position: absolute;
  top: -.45rem;
  cursor: pointer;

  &--vertical {
    left: -.47rem;
  }
}
.slider__bar {
  height: .25rem;
  position: absolute;
  background-color: #e85019;

  &--vertical {
    width: .25rem;
  }
}
.slider__hint {
  min-width: 1.5rem;
  padding: .1rem;
  position: absolute;
  top: -2.5rem;
  background-color: #e85019;
  border-radius: .3rem;
  color: #ffffff;
  text-align: center;

  &--vertical {
    left: 1.2rem;
  }
}
.slider__scale {
  position: relative;
}
.slider__scale-value {
  position: absolute;
  color: #bfbfbf;
  font-size: .8rem;
  cursor: pointer;
}

.configuration {
  display: flex;
  border: 2px dashed #e85019;
  margin-top: 1rem;
}
.configuration__fieldset {
  border: none;
}
.configuration__value,
.configuration__checkbox {
  margin-top: .5rem;
}
.configuration__value-input {
  max-width: 3rem;
}