<div class="slider slider_vertical">
  <div class="slider__bar slider__bar_vertical"></div>
  <div class="slider__point slider__point_vertical slider__point_min"></div>
  <div class="slider__point slider__point_vertical slider__point_max"></div>
</div>